fine_tuned_llm_regression/
fine_tuned_llm_mlm/
financial_text_regression.csv
financial_text.csv
results_regression/
logs_regression/
results_mlm/
logs_mlm/
*.pyc
__pycache__/
*.log
.DS_Store  # Ensure macOS metadata is ignored
firm_data.csv  # Exclude raw data if sensitive